In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Book1.csv')

In [3]:
df.head()

,Day,Outlook,Humadity,Wind,Play,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,D1,Sunny,High,Weak,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,D2,Sunny,High,Strong,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,D3,Overcast,High,Weak,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,D4,Rain,High,Weak,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,D5,Rain,Normal,Weak,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df1 = df.drop(['Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13'], axis = 1)

In [5]:
df1

    Day   Outlook Humadity    Wind Play
0    D1     Sunny     High    Weak   No
1    D2     Sunny     High  Strong   no
2    D3  Overcast     High    Weak  Yes
3    D4     Rain      High    Weak  Yes
4    D5     Rain    Normal    Weak  Yes
5    D6     Rain    Normal  Strong   No
6    D7  Overcast   Normal  Strong  Yes
7    D8     Sunny     High    Weak   No
8    D9     Sunny   Normal    Weak  Yes
9   D10     Rain    Normal    Weak  Yes
10  D11     Sunny   Normal  Strong  Yes
11  D12  Overcast     High  Strong  Yes
12  D13  Overcast   Normal    Weak  Yes
13  D14     Rain      High  Strong   No

1. Outlook = Sunny
2. Humadity = High
3. Wind = Weak
4. Play?